
    <div style="margin:0px auto;">

        <!-- Insert to your webpage where you want to display the carousel -->
        <div id="amazingcarousel-container-1">
            <div id="amazingcarousel-1" style="display:none;position:relative;width:100%;max-width:720px;margin:0px auto 0px;">
                <div class="amazingcarousel-list-container">
                    <ul class="amazingcarousel-list">
                        <li class="amazingcarousel-item">
                            <div class="amazingcarousel-item-container">
                                <div class="amazingcarousel-image"><a href="~/images/_vyr_40olivki-zelenye-s-kostochkojj-Vittoria-Giganti-italija-500-hr-lightbox.jpg" title="_vyr_40olivki-zelenye-s-kostochkojj-Vittoria-Giganti-italija-500-hr" class="html5lightbox" data-group="amazingcarousel-1"><img src="~/images/_vyr_40olivki-zelenye-s-kostochkojj-Vittoria-Giganti-italija-500-hr.jpg" alt="_vyr_40olivki-zelenye-s-kostochkojj-Vittoria-Giganti-italija-500-hr" /></a></div>
                                <div class="amazingcarousel-title">_vyr_40olivki-zelenye-s-kostochkojj-Vittoria-Giganti-italija-500-hr</div>
                                <div class="amazingcarousel-description"></div>
                                <div class="amazingcarousel-readmore"><a href="~/images/_vyr_40olivki-zelenye-s-kostochkojj-Vittoria-Giganti-italija-500-hr-lightbox.jpg" target="__TARGET__">Read More</a></div>
                            </div>
                        </li>
                        <li class="amazingcarousel-item">
                            <div class="amazingcarousel-item-container">
                                <div class="amazingcarousel-image"><a href="~/images/ananas_sushenii-lightbox.png" title="ananas_sushenii" class="html5lightbox" data-group="amazingcarousel-1"><img src="~/images/ananas_sushenii.png" alt="ananas_sushenii" /></a></div>
                                <div class="amazingcarousel-title">ananas_sushenii</div>
                                <div class="amazingcarousel-description"></div>
                                <div class="amazingcarousel-readmore"><a href="~/images/ananas_sushenii-lightbox.png" target="__TARGET__">Read More</a></div>
                            </div>
                        </li>
                        <li class="amazingcarousel-item">
                            <div class="amazingcarousel-item-container">
                                <div class="amazingcarousel-image"><a href="~/images/arahis_v_glazure_s_kunjutom-lightbox.jpeg" title="arahis_v_glazure_s_kunjutom" class="html5lightbox" data-group="amazingcarousel-1"><img src="~/images/arahis_v_glazure_s_kunjutom.jpeg" alt="arahis_v_glazure_s_kunjutom" /></a></div>
                                <div class="amazingcarousel-title">arahis_v_glazure_s_kunjutom</div>
                                <div class="amazingcarousel-description"></div>
                                <div class="amazingcarousel-readmore"><a href="~/images/arahis_v_glazure_s_kunjutom-lightbox.jpeg" target="__TARGET__">Read More</a></div>
                            </div>
                        </li>
                        <li class="amazingcarousel-item">
                            <div class="amazingcarousel-item-container">
                                <div class="amazingcarousel-image"><a href="~/images/banani_vialenie-lightbox.jpg" title="banani_vialenie" class="html5lightbox" data-group="amazingcarousel-1"><img src="~/images/banani_vialenie.jpg" alt="banani_vialenie" /></a></div>
                                <div class="amazingcarousel-title">banani_vialenie</div>
                                <div class="amazingcarousel-description"></div>
                                <div class="amazingcarousel-readmore"><a href="~/images/banani_vialenie-lightbox.jpg" target="__TARGET__">Read More</a></div>
                            </div>
                        </li>
                        <li class="amazingcarousel-item">
                            <div class="amazingcarousel-item-container">
                                <div class="amazingcarousel-image"><a href="~/images/cardamon-lightbox.jpg" title="cardamon" class="html5lightbox" data-group="amazingcarousel-1"><img src="~/images/cardamon.jpg" alt="cardamon" /></a></div>
                                <div class="amazingcarousel-title">cardamon</div>
                                <div class="amazingcarousel-description"></div>
                                <div class="amazingcarousel-readmore"><a href="~/images/cardamon-lightbox.jpg" target="__TARGET__">Read More</a></div>
                            </div>
                        </li>
                        <li class="amazingcarousel-item">
                            <div class="amazingcarousel-item-container">
                                <div class="amazingcarousel-image"><a href="~/images/funduk_jarenii-lightbox.jpg" title="funduk_jarenii" class="html5lightbox" data-group="amazingcarousel-1"><img src="~/images/funduk_jarenii.jpg" alt="funduk_jarenii" /></a></div>
                                <div class="amazingcarousel-title">funduk_jarenii</div>
                                <div class="amazingcarousel-description"></div>
                                <div class="amazingcarousel-readmore"><a href="~/images/funduk_jarenii-lightbox.jpg" target="__TARGET__">Read More</a></div>
                            </div>
                        </li>
                        <li class="amazingcarousel-item">
                            <div class="amazingcarousel-item-container">
                                <div class="amazingcarousel-image"><a href="~/images/Olivkovie_maslo-lightbox.jpg" title="Olivkovie_maslo" class="html5lightbox" data-group="amazingcarousel-1"><img src="~/images/Olivkovie_maslo.jpg" alt="Olivkovie_maslo" /></a></div>
                                <div class="amazingcarousel-title">Olivkovie_maslo</div>
                                <div class="amazingcarousel-description"></div>
                                <div class="amazingcarousel-readmore"><a href="~/images/Olivkovie_maslo-lightbox.jpg" target="__TARGET__">Read More</a></div>
                            </div>
                        </li>
                        <li class="amazingcarousel-item">
                            <div class="amazingcarousel-item-container">
                                <div class="amazingcarousel-image"><a href="~/images/zukati_mix-lightbox.png" title="zukati_mix" class="html5lightbox" data-group="amazingcarousel-1"><img src="~/images/zukati_mix.png" alt="zukati_mix" /></a></div>
                                <div class="amazingcarousel-title">zukati_mix</div>
                                <div class="amazingcarousel-description"></div>
                                <div class="amazingcarousel-readmore"><a href="~/images/zukati_mix-lightbox.png" target="__TARGET__">Read More</a></div>
                            </div>
                        </li>
                        <li class="amazingcarousel-item">
                            <div class="amazingcarousel-item-container">
                                <div class="amazingcarousel-image"><a href="~/images/изюм_золотой-lightbox.png" title="изюм_золотой" class="html5lightbox" data-group="amazingcarousel-1"><img src="~/images/изюм_золотой.png" alt="изюм_золотой" /></a></div>
                                <div class="amazingcarousel-title">изюм_золотой</div>
                                <div class="amazingcarousel-description"></div>
                                <div class="amazingcarousel-readmore"><a href="~/images/изюм_золотой-lightbox.png" target="__TARGET__">Read More</a></div>
                            </div>
                        </li>
                    </ul>
                    <div class="amazingcarousel-prev"></div>
                    <div class="amazingcarousel-next"></div>
                </div>
                @*<div class="amazingcarousel-nav"></div>
                <div class="amazingcarousel-engine"><a href="http://amazingcarousel.com">jQuery Image Carousel</a></div>*@
            </div>
        </div>
        <!-- End of body section HTML codes -->

    </div>
